<div class="container">
    <h3>Property Details</h3>
    <br>
    <div class="box">
      <div>
        <img src="../assets/download.jpg" alt="Property Image" class="property-image">
      </div>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">
          <ng-container matColumnDef="attribute">
            <th mat-header-cell *matHeaderCellDef> Attribute </th>
            <td mat-cell *matCellDef="let element"> {{element.attribute}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="button-group">
          <button mat-raised-button color="primary" [routerLink]="['/updating-by-id', property.id]">
            <mat-icon>edit</mat-icon> Update Details
          </button>
          <button mat-raised-button color="warn" [routerLink]="['/show-all-properties']">
            <mat-icon>arrow_back</mat-icon> Back
          </button>
        </div>
      </div>
    </div>
  
    <!-- ngx-charts - Clicks by Day -->
    <div>
      <ngx-charts-bar-vertical
        [results]="clicksByDay"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  
    <!-- ngx-charts - Clicks by Month -->
    <div>
      <ngx-charts-bar-vertical
        [results]="clicksByMonth"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  
    <!-- ngx-charts - Total Clicks Gauge -->
    <div style="display: flex; justify-content: center;">
      <ngx-charts-gauge
        [max]="totalClicks"
        [min]="0"
        [units]="gaugeAppendText"
        [bigSegments]="10"
        [smallSegments]="5">
      </ngx-charts-gauge>
    </div>
  
  </div>
  