<br>

<div class="container">

  <h3>Property Details</h3>
  <br>
  <div class="box">

    <div>
      <img src="../assets/download.jpg">
    </div>
    <div >
      <table  class=" table table-striped  border-dark  ">
        <thead class=" table-dark">
        <tr>
          <th  >Attribute</th>
          <th  >Value</th>
        </tr>

        </thead>

        <tbody>
        <tr>
          <td><b>IdContrat</b></td>
          <td>{{contrat.idContrat}}</td>
        </tr><tr>
          <td><b>IdAgent</b></td>
          <td>{{contrat.idAgent}}</td>
        </tr><tr>
          <td><b>IdProprietaire</b></td>
          <td>{{contrat.idProprietaire}}</td>
        </tr><tr>
          <td><b>IdClient</b></td>
          <td>{{contrat.idClient}}</td>
        </tr><tr>
          <td><b>IdProperty</b></td>
          <td>{{contrat.idProperty}}</td>
        </tr>
        <tr>
          <td><b>Address</b></td>
          <td>{{contrat.idProperty.address}}</td>
        </tr>

        </tbody>
      </table>

      <a routerLink="/updating-by-id/{{contrat.idContrat}}" id="btn1"class="btn btn-secondary">Update Details</a>
      <a routerLink="/show-all-properties" id="btn2" class="btn btn-danger">Back</a>
    </div>

  </div>

</div>
